/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Colour Classes */
.bg-color-ebony {
    color: #626C66;
}

/* Header */
header {
    background-color: #2c3e50;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* Padding doesn't affect the width */
    box-sizing: border-box;
}

.logo {
    height: 40px;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    color: white;
    display: none;
}

nav {
    background-color: #2c3e50;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.active {
    margin-bottom: 1.5em;
}

/* Main */
main {
    background-color: #f9f9f9;
    padding: 20px;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Hero */
.hero {
    background: url("assets/images/minecraft-education-example.webp");
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

/* Reasons */
.reasons {
    padding: 40px 20px;
    background-color: white;
    text-align: center;
}

.benefits {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.benefit {
    width: 250px;
    margin-bottom: 20px;
}

.benefit i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.benefit h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Button Classes */
.cta-button-orange {
    background-color: #FFA62B;
    opacity: 1;
}

.cta-button-text-white {
    color: white;
    font-weight: bold;
}

.cta-button-shape-rounded {
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
}

/* Courses Page */
.course-list {
    padding: 40px 20px;
    background-color: white;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.course {
    max-width: 300px;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.course-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.course img {
    width: 48px;
    height: 48px;
}

.signup {
    padding: 40px 20px;
    background-color: #2c3e50;
    color: white;
    text-align: center;
}

.signup form {
    max-width: 400px;
    margin: 0 auto;
}

.signup label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
}

.signup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.signup fieldset {
    border: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.signup legend {
    font-weight: bold;
    margin-bottom: 5px;
}

.signup label input {
    margin-right: 5px;
}

/* About Page */

.about {
    padding: 40px 20px;
    background-color: white;
    text-align: center;
}

/* Gallery */

.gallery {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.photos {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.photo {
    flex: 1;
    max-width: 300px;
    position: relative;
    transition: transform 0.3s ease;
}

.photo img {
    width: 100%;
    border-radius: 10px;
}

/* Change stacking order - middle pic */
.photo:nth-child(2) {
    z-index: 3;
}

.photo:hover {
    transform: scale(1.1);
    z-index: 2;
}

/* Footer */
footer {
    background-color: #2c3e50;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

/* Responsiveness */
@media (max-width: 768px) {

    .cta-button-orange {
        padding: 12px 24px;
        font-size: 1rem;
        display: inline-block;
    }

    .course-list {
        flex-direction: column;
        align-items: center;
    }

    .course {
        max-width: 100%;
    }

    .benefit {
        width: 100%;
    }

    .photos {
        flex-direction: column;
        align-items: center;
    }

    .photo {
        max-width: 100%;
    }
}