
/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Colour Classes */
.bg-color-ebony {
    color: #626C66;
}

.cta-button-orange {
    color: #FFA62B;
}

.cta-button-text-white {
    color: white;
}

/* Header */

header {
    display: flex;
    background-color: aqua;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* Padding doesn't affect the width */
    box-sizing: border-box;
    text-decoration: none;
}

#menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
}

#menu li {
    display: inline;
}

#menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

#menu a:hover {
    color: blue;

#logo {
    width: 50px;
    height: auto;
    /* Placing logo at top left */
    top: 10px;
    left: 10px;
}

/* Horizontal Line */
hr {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 3px 0;
}

/* Main */
main {
    background-color: #f9f9f9;;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    padding: 20px;
}

/* Footer */
footer {
    background-color: #f9f9f9;;
    display: flex;
    padding: 20px;
}
