/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;700&display=swap");

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    font-size: 1.1rem;
}

/* Colour Classes */
.bg-color-ebony {
    color: #626C66;
}

/* Header */
header {
    background-color: #2c3e50;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* padding doesn't affect the width */
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 40px 0 20px 0;
    color: #2c3e50;
}

.hr-container {
    background-color: #f9f9f9;
    padding: 10px 0;
}

hr {
    width: 50%;
    max-width: 600px;
    /* centre hr */
    margin: 25px auto;
    border: 1px solid #2c3e50;
}

.logo {
    height: 40px;
    margin-top: 20px;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    color: white;
    display: none;
}

nav {
    background-color: #2c3e50;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.active {
    margin-bottom: 1.5em;
    text-decoration: underline;
}

/* Main */
main {
    background-color: #f9f9f9;
    padding: 20px;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Hero */
.hero {
    background: url("../images/minecraft-education-bg-2.webp") center/cover no-repeat;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.7;
    padding: 0 20px;
}

.hero h1, p {
    color: black;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero a:hover {
    color: darkorange;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

/* Reasons */
.reasons {
    padding: 40px 20px;
    background-color: white;
    text-align: center;
}

.benefits {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.benefit {
    width: 250px;
    margin-bottom: 20px;
}

.benefit i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.benefit h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Future Section */

.future-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.future-section h3 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

.future-section p {
    font-size: 1.1rem;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

/* Button Classes */
.cta-button-orange {
    background-color: #FFA62B;
    width: 80%;
    max-width: 200px;
    /* buutton centred */
    display: block;
    text-align: center;
    opacity: 1;
}

.cta-button-text-white {
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.cta-button-shape-rounded {
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px auto;
    /* button will behave like a block element */
    display: inline-block;
}

/* Courses Page */

.course-list {
    padding: 40px 20px;
    background-color: white;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.course {
    max-width: 300px;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.course-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.course img {
    width: 48px;
    height: 48px;
}

.signup {
    padding: 40px 20px;
    background-color: #2c3e50;
    color: white;
    text-align: center;
}

.signup form {
    max-width: 400px;
    margin: 0 auto;
}

.signup label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
}

.signup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.signup fieldset {
    border: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.signup legend {
    font-weight: bold;
    margin-bottom: 5px;
}

.signup label input {
    margin-right: 5px;
}

/* About Page */

.about {
    padding: 60px 20px;
    text-align: center;
}

.about h1 {
    font-size: 2.8rem;
    color: #2c3e50;
    margin-bottom: 30px;
}

.about p {
    font-size: 1.2rem;
    color: #333;
    background-color: white;
    max-width: 800px;
    margin: 0 auto 30px auto;
    /* better readability */
    line-height: 1.8;
}

/* Gallery */

.gallery {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.gallery h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

.photos {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.photo {
    flex: 1;
    max-width: 300px;
    position: relative;
    transition: transform 0.3s ease;
}

.photo img {
    width: 100%;
    border-radius: 10px;
}

/* change stacking order - middle pic */
.photo:nth-child(2) {
    z-index: 3;
}

.photo:hover {
    transform: scale(1.1);
    z-index: 2;
}

/* Footer */
footer {
    background-color: #2c3e50;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Responsiveness */
@media (max-width: 768px) {

    .cta-button-orange {
        width: 50%;
        max-width: none;
        padding: 15px 20px;
    }

    .cta-button-text-white {
        font-size: 1rem;
    }

    .cta container {
        width: 90%;
        margin: 20px auto;
    }

    /* Home */

    .logo {
        margin-bottom: 10px;
    }

    .benefit {
        width: 100%;
    }

    .photos {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .photo {
        max-width: 100%;
    }

    .photo:nth-child(2) {
        /* reset image size */
        transform: scale(1);
        /* reset z-index for */
        z-index: 1;
    }

    .photo:hover {
        /* disable hover scaling */
        transform: scale(1);
    }

    .hero p {
        margin-top: auto;
    }

    /* Courses */
    h1 {
        /* smaller font size */
        font-size: 2rem;
        /* adjust spacing */
        margin: 20px 0 10px 0;
    }

    hr {
        /* hr wider for mobile */
        width: 90%;
    }

    .course-list {
        flex-direction: column;
        align-items: center;
    }

    .course {
        max-width: 100%;
    }

    /* About */
    .about {
        padding: 40px 20px;
        background-color: white;
        text-align: center;
    }

    .about h1 {
        font-size: 2.5rem;
        color: #2c3e50;
        margin-bottom: 20px;
    }

    .about p {
        font-size: 1.1rem;
        color: #333;
        max-width: 800px;
        margin: 0 auto 20px auto;
    }

    /* Footer */
    footer {
        /* reduced padding */
        padding: 30px 15px;
    }

    footer ul {
        /* vertical stack */
        flex-direction: column;
        gap: 15px;
    }

    footer ul li a {
        font-size: 2rem;
    }
}